.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 15px 8px;
  height: 50vh;
  margin: 25px;
  border-radius: 30px;
}

.intro img {
  width: 180px;
  height: auto;
}

.intro.desktop {
  height: auto;
}

.intro h1 {
  color: white;
}

.intro p {
  color: #c2c2c2;
}

.login-container {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}
.get-started {
  background: var(--background);
  color: #fff;
  border: none;
  padding: 12px 16px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 22px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  gap: 8px;
  width: 300px;
  margin: 1rem auto;
  transition: box-shadow 0.5s;
}

.get-started:hover {
  box-shadow: rgba(145, 0, 255, 0.6) 0px 0px 1rem;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px;
}
.top .logo {
  width: 350px;
  padding: 12px 0 0;
}

.hero-img {
  height: 420px;
  width: 100%;
  border-radius: 30px;
}

.logged-in .top {
  padding: 70px 0 0;
}

.logged-in .logo {
  display: none;
}

@media (max-width: 768px) {
  .intro {
    height: 91vh;
    margin: 0;
    border-radius: 0;
  }
}